<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uplifter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OnboardingScreen1" >
        </activity>
        <activity android:name=".ui.OnboardingScreen2" >
        </activity>
        <activity android:name=".ui.OnboardingScreen3" >
        </activity>
        <activity android:name=".ui.OnboardingScreen4" >
        </activity>
        <activity android:name=".ui.TodaysTrainingScreen" >
        </activity>
        <activity
            android:name=".ui.LogMoodScreen"
            android:label="@string/title_activity_log_mood_screen" >
        </activity>
        <activity
            android:name=".ui.TrainingScreen"
            android:label="@string/title_activity_training_screen" >
        </activity>
        <activity
            android:name=".ui.PositivitySuperstarScreen"
            android:label="@string/title_activity_positivity_superstar_screen" >
        </activity>
        <activity
            android:name="com.uplifter.ui.QuoteScreen"
            android:label="@string/title_activity_quote_screen" >
        </activity>
    </application>

</manifest>
