<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uplifter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application android:uiOptions="splitActionBarWhenNarrow"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
        <activity
            android:name=".ui.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OnboardingScreen1"
          android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".ui.OnboardingScreen2"
          android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".ui.OnboardingScreen3"
          android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".ui.OnboardingScreen4"
          android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".ui.TodaysTrainingScreen" >
        </activity>
        <activity android:name=".ui.SettingsScreen" >
        </activity>
        <activity android:name=".ui.LogMoodScreen" >
        </activity>
        <activity android:name=".ui.TipsScreen" >
        </activity>
        <activity android:name=".ui.HistoryScreen" >
        </activity>
        <activity android:name=".ui.TrainingScreen" >
        </activity>
        <activity android:name=".ui.PositivitySuperstarScreen" >
        </activity>
        <activity android:name=".ui.QuoteScreen" >
        </activity>
    </application>

</manifest>
